body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.h-main-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
.h-header-section {
  position: absolute;
  z-index: 20000;
  width: 100%;
  height: 11%;
  min-height: 50px;
  background-color: black;
}
.h-header-row {
  padding-top: 12px;
}
.h-header-left-column {
  padding-right: 0px;
  padding-left: 0px;
}
.h-left-icon {
  width: 22px;
  margin-right: 0px;
  margin-left: 10px;
  padding-right: 0px;
  float: left;
}
.h-right-icon {
  display: block;
  width: 22px;
  margin-right: auto;
  margin-left: auto;
}
.h-main-icon {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}
.h-content-section {
  position: absolute;
  top: 11%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 89%;
}
.h-header-row-menu {
  padding-top: 12px;
}
.h-right-icon-menu {
  display: block;
  width: 26px;
  float: right;
}
.h-slder {
  height: 100%;
}
.h-slide-bottom-nav {
  display: none;
}
.h-slide-1 {
  background-image: url('../images/home-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.h-slide-1.h-diff-slide {
  background-image: url('../images/home-2.jpg');
}
.h-slide-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 700;
  text-shadow: black 1px 1px 3px;
}
.h-slide-text.h-button-open-video {
  left: auto;
  top: 20px;
  right: 150px;
  bottom: auto;
  z-index: 999;
  font-size: 24px;
  text-decoration: none;
}
.h-video-section {
  position: absolute;
  z-index: 40000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-close-video-icon {
  height: 25px;
  margin-top: 10px;
  padding-right: 10px;
  float: right;
}
.h-close-video-icon.h-map {
  position: absolute;
  top: 10px;
  right: 10px;
}
.h-close-video-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 11%;
  background-color: black;
}
.h-video-container {
  position: absolute;
  top: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}
.h-vimeo-video {
  width: 100%;
  height: 100%;
}
.h-menu-section {
  position: absolute;
  top: 11%;
  z-index: 10000;
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 89%;
  background-color: black;
}
.h-menu-first-level {
  position: absolute;
  left: 0%;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.h-menu-first-level-element {
  position: relative;
  height: 80px;
  background-color: black;
}
.h-menu-first-level-element.even {
  position: relative;
  background-color: #101010;
}
.h-menu-element-icon-container {
  width: 50px;
  height: 80px;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}
.h-menu-home-icon {
  width: 30px;
}
.h-menu-element-text-container {
  padding-top: 27px;
  float: left;
}
.h-menu-element-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: white;
}
.h-menu-element-text.selected {
  color: #ec1b2e;
}
.h-menu-second-level {
  position: absolute;
  left: 100%;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.h-models-category {
  position: relative;
  width: 50%;
  height: 33%;
  float: left;
  background-image: url('../images/cbr.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.h-models-category._2 {
  background-image: url('../images/adventure.jpg');
}
.h-models-category-skin {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.h-models-category-text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: white;
}
.h-models-category-text.offers {
  bottom: 10px;
  z-index: 1000;
}
.h-models-category-text.offers-description {
  z-index: 1000;
  font-weight: 300;
}
.h-menu-third-level {
  position: absolute;
  left: 200%;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.h-model {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 130px;
  background-image: url('../images/cbr1000rr-fireblade.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.h-model-shadow {
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 0px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 0px 50px 25px;
}
.h-slider-link {
  position: absolute;
  width: 100%;
  height: 100%;
}
.h-social-content {
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-twitter-container {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.h-menu-link {
  position: absolute;
  z-index: 1001;
  width: 100%;
  height: 100%;
}
.h-offers-section {
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-offer-element {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 120px;
  background-image: url('../images/offer-example.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.h-offer-description {
  font-weight: 300;
}
.h-contact-section {
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-page-title {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 300;
}
.h-page-title.h-model-specs {
  margin-top: 20px;
  margin-bottom: 0px;
}
.h-page-title.h-form-label {
  margin-bottom: 5px;
  padding-left: 0px;
}
.h-form-textfield {
  margin-bottom: 5px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 400;
}
.h-form-textfield:focus {
  border: 1px solid #47d627;
}
.h-contact-form {
  padding-right: 10px;
  padding-left: 10px;
}
.h-form-button {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid #b11423;
  background-color: #ec1b2e;
  font-family: Roboto, sans-serif;
}
.h-form-button:hover {
  background-color: #c22734;
}
.h-form-button.h-form-net-button {
  padding: 12px;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}
.h-thank-you {
  font-family: Roboto, sans-serif;
}
.h-model-section {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-model-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-model-slider-nav {
  display: none;
}
.h-model-slider-nav.h-model-buttons {
  display: block;
  width: 100%;
  height: 100%;
}
.h-model-animation {
  position: relative;
  width: 100%;
  height: 100%;
}
.h-various-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20%;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
}
.h-model-slide {
  margin-right: auto;
  margin-left: auto;
}
.h-model-slide.h-model-specs {
  overflow-x: auto;
  overflow-y: auto;
}
.h-model-slide.h-model-attrs {
  overflow-x: auto;
  overflow-y: auto;
}
.h-model-slide.h-model-photos {
  overflow-x: auto;
  overflow-y: auto;
}
.h-model-main-image {
  width: 100%;
}
.h-model-variety-name {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  clear: both;
  font-family: Roboto, sans-serif;
  color: #999;
  font-weight: 300;
}
.h-model-variety-name.model-price {
  margin-top: 0px;
  padding-top: 10px;
}
.h-model-variety-name.model-price.h-attr-name {
  padding-left: 0px;
}
.h-model-variety-thumb {
  width: 37px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 0px;
  float: left;
}
.h-model-title {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: white;
}
.h-model-price {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: #b3b3b3;
  font-weight: 400;
}
.h-model-description {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: #ccc;
}
.h-model-description.h-chars-container {
  border-bottom-style: none;
  border-bottom-width: 1px;
}
.h-model-description.h-chars-container.h-attr-value {
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.h-chars-divider {
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.h-chars-attr-container {
  padding-right: 10px;
  padding-left: 10px;
}
.h-photos-tab {
  width: 50%;
  height: 80px;
  background-color: black;
}
.h-photos-tab.w--current {
  width: 50%;
  height: 80px;
  background-color: #ec1b2e;
}
.h-tab-title {
  display: block;
  width: 100%;
  padding-top: 20px;
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
}
.h-photos-panel {
  overflow-x: auto;
  overflow-y: auto;
}
.h-videos-panel {
  overflow-x: auto;
  overflow-y: auto;
}
.h-photo {
  width: 50%;
  height: 300px;
  float: left;
  background-image: url('../images/fireblade-photo-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.h-photo-tab {
  overflow-x: auto;
  overflow-y: auto;
}
.h-photo-viewer {
  position: absolute;
  z-index: 20000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url('../images/fireblade-photo-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}
.h-close-black {
  width: 50px;
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.h-model-video {
  width: 100%;
}
.h-network-content {
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: black;
}
.h-model-navigation {
  position: absolute;
  z-index: 30000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
}
.h-model-navigation-button {
  position: relative;
  width: 50%;
  height: 50%;
  float: left;
}
.h-model-navigation-button.selected {
  height: 50%;
  background-color: rgba(204, 43, 43, 0.6);
}
.h-model-nav-icon {
  display: block;
  width: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12%;
}
.h-model-nav-text {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 400;
  text-align: center;
}
.h-google-map {
  position: fixed;
  z-index: 30000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
}
@media (max-width: 991px) {
  .h-photo {
    height: 250px;
  }
  .h-model-nav-icon {
    padding-top: 22%;
  }
}
@media (max-width: 767px) {
  .video-block {
    position: absolute;
  }
  .h-photo {
    height: 200px;
  }
  .h-photo-viewer {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (max-width: 479px) {
  h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .header-block {
    position: absolute;
    width: 100%;
    height: 11%;
    background-color: black;
  }
  .content-block {
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
    background-color: red;
  }
  .header-row {
    height: 100%;
  }
  .icon-column {
    display: block;
    height: 100%;
    text-align: left;
  }
  .menu-icon {
    display: block;
    width: 22px;
    margin-left: 10px;
    padding-top: 15px;
    float: left;
  }
  .main-logo {
    width: 150px;
    padding-top: 10px;
    text-align: left;
  }
  .main-header-column {
    text-align: center;
  }
  .right-header-column {
    text-align: right;
  }
  .network-image {
    width: 28px;
    margin-right: 10px;
    padding-top: 10px;
  }
  .home-slider {
    height: 100%;
  }
  .bottom-nav {
    display: none;
  }
  .slide-1 {
    background-image: url('../images/home-1.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  .slide-1._2 {
    background-image: url('../images/home-2.jpg');
  }
  .left-arrow {
    color: white;
    text-transform: none;
  }
  .model-title {
    position: absolute;
    left: 10px;
    bottom: 25px;
    z-index: 100;
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: 700;
  }
  .slide-shadow {
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    bottom: 0px;
    height: 200px;
    box-shadow: black 0px -50px 50px -3px;
  }
  .menu {
    position: absolute;
    top: 11%;
    z-index: 999;
    display: none;
    width: 100%;
    height: 89%;
    background-color: black;
  }
  .menu-1-level {
    position: absolute;
    left: 100%;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
  .menu-1-level-row-even {
    height: 80px;
  }
  .menu-1-level-row-even.prime {
    background-color: #101010;
  }
  .home-icon {
    height: 30px;
    margin-top: 25px;
    background-color: transparent;
    color: transparent;
  }
  .menu-text {
    margin-top: 25px;
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: 400;
  }
  .menu-text.selected {
    color: #e81313;
  }
  .menu-2-level {
    position: absolute;
    left: 200%;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  }
  .model-category {
    position: relative;
    width: 50%;
    height: 33.3%;
    float: left;
    background-image: url('../images/cbr.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .model-category.cbr {
    position: relative;
  }
  .model-category.adventure {
    position: relative;
    background-image: url('../images/adventure.jpg');
  }
  .model-category-title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 99;
    font-family: Roboto, sans-serif;
    color: white;
  }
  .model-category-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .menu-3-level {
    position: absolute;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .model {
    position: relative;
    width: 100%;
    height: 130px;
    background-image: url('../images/cbr125r.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  .model-cover {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .model-shadow {
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 50px 25px;
  }
  .model-title-menu {
    z-index: 200;
    margin-bottom: 0px;
    font-family: Roboto, sans-serif;
    color: white;
  }
  .video-block {
    position: absolute;
    z-index: 2000;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .close-video-container {
    position: absolute;
    width: 100%;
    height: 10%;
  }
  .show-video {
    position: absolute;
    left: 0px;
    top: 10%;
    right: 0px;
    height: 90%;
  }
  .h-header-row {
    padding-top: 18px;
  }
  .h-left-icon {
    display: block;
    padding-top: 0px;
    float: none;
  }
  .h-right-icon {
    display: block;
    width: 28px;
    margin-right: auto;
    margin-left: auto;
  }
  .h-main-icon {
    display: block;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }
  .h-content-section {
    position: absolute;
    top: 11%;
    width: 100%;
    height: 89%;
  }
  .h-slide-text {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .h-button-video {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
  }
  .h-model-variety-name {
    margin-top: 10px;
  }
  .h-model-title {
    position: static;
  }
  .h-model-price {
    position: static;
    left: auto;
    bottom: auto;
  }
  .h-photos-tab {
    width: 50%;
    float: left;
  }
  .h-photo {
    height: 120px;
  }
  .h-model-navigation-button {
    position: relative;
  }
  .h-model-nav-icon {
    padding-top: 40%;
  }
  .h-model-nav-text {
    left: auto;
    bottom: auto;
    width: 100%;
    margin-top: 20px;
  }
}

